/* latin-ext */
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/Baloo_Thambi_2/BalooThambi2-Regular.ttf");
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/Baloo_Thambi_2/BalooThambi2-Medium.ttf");
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/Baloo_Thambi_2/BalooThambi2-SemiBold.ttf");
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/Baloo_Thambi_2/BalooThambi2-Bold.ttf");
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../assets/fonts/Baloo_Thambi_2/BalooThambi2-ExtraBold.ttf");
}
