.search{
  display: flex;
  align-items: center;
  &__input{
    height: 45px;
    min-width: 600px;
    border-radius: 3px;
    font-size: 16px;
    background-color: #232323;
    color: rgba(255, 255, 255, .9);
    font-weight: 700;
    border: 1px solid #363636;
    text-align: center;
    &:focus{
      transition: all 0.2s ease-in;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    }
    padding-right: 35px;
    padding-left: 5px;
  }
  &__close{
    visibility: hidden;
    position: relative;
    right: 30px;
    font-size: 22px;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    &.show-clear{
      visibility: visible;
    }
  }
}