$base-color: #353535;
$shine-color: #484848;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;
@mixin background-gradient{
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}
@mixin loading{
  color: $base-color;
  @include background-gradient;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:nth-child(1) {
  }
}
@mixin avatar{
  @include loading;
  animation: shine-avatar $animation-duration infinite linear;
}
@mixin lines{
  @include loading;
  animation: shine-lines $animation-duration infinite linear;
}
@mixin photo{
  position: relative;
  width: 90px;
  height: 90px;
  margin-right: 15px;
  border-radius: 0.35rem;
}
@mixin card-pattern{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.loading-card {
  @include card-pattern;
  &__photo {
    padding: 3px;
    @include avatar;
    @include photo;
  }
  &__data{
    &__name{
      position: relative;
      width: 200px;
      height: 20px;
      padding: 3px;
      border-radius: 0.35rem;
      margin-bottom: 10px;
      @include avatar;
    }
    &__infos{
      position: relative;
      width: 300px;
      height: 20px;
      padding: 3px;
      border-radius: 0.35rem;
      margin-bottom: 10px;
      @include lines;
    }
    &__time{
      position: relative;
      width: 100px;
      height: 20px;
      padding: 3px;
      border-radius: 0.35rem;
      @include avatar;
    }
  }
}
.apresentation-card{
  @include card-pattern;
  &__photo {
    @include photo;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__data{
    &__name{
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &__infos{
      margin-bottom: 5px;
      color: rgba(255,255,255,0.7);
    }
    &__time{
      color: rgba(255,255,255,0.7);
    }
  }
}

@keyframes shine-lines{
  0%{
    background-position: -100px;
  }
  40%, 100%{
    background-position: 300px;
  }
}
@keyframes shine-avatar{
  0%{
    background-position: -100px + $avatar-offset;
  }
  40%, 100%{
    background-position: 140px + $avatar-offset;
  }

}