@import "variables";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


@import "reset";
@import "global";
@import "utilities/bootstrap-utilities.min.css";
@import "utilities/utilities";
@import "./fonts-scss/baloo-thambi-2";

@import "../Components/fields/fields";
@import "../Components/buttons/buttons";
@import "../Components/navbar/navbar";
@import "../Components/popup/popup";
@import "../Components/cards/cards";
@import "../Components/rating-stars/rating";

@import "../Views/Search/search";
@import "../Views/Login/login";
@import "../Views/Album/album";