body{
  background-color: #121212;
  font-family: 'Baloo Thambi 2', cursive;
  color: rgba(255, 255, 255, 0.9);
}

//@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');
