body{
  background-color: #121212;
  font-family: 'Baloo Thambi 2', cursive;
  color: rgba(255, 255, 255, 0.9);
}
.main{
  margin: 0 auto;
  width: 75vw;
}

.artist-link{
  cursor: pointer;
  &:hover{
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}
